<div class="row">
  <div class="col-md-4">
    <div class="card cp" [routerLink]="['/admin/categories']">
      <div class="card-body">
        <h4 class="card-title">Categorias</h4>
        <p class="card-text">{{ categories }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card cp" [routerLink]="['/admin/products']">
      <div class="card-body">
        <h4 class="card-title">Productos</h4>
        <p class="card-text">{{ products }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card bg-primary cp" [routerLink]="['/admin/sales']">
      <div class="card-body">
        <h4 class="card-title text-white">Ventas</h4>
        <p class="card-text text-white">{{ sales }}</p>
      </div>
    </div>
  </div>
</div>
  
